DB_HOST=byjnrx7phrkocfx2trzm-mysql.services.clever-cloud.com
DB_PORT=3306
DB_NAME=byjnrx7phrkocfx2trzm
DB_USER=uogianzsoluflpir
DB_PASS=wHkT7YjcGUlccHjIv6TR
JWT_SECRET=6a242a03ea9bdb58f9604c0ebedfb98e114a12be20faed953052ac2dfbbc34e4
JWT_EXPIRES_IN=7d
PORT=8080
NODE_ENV=production
ALLOWED_ORIGINS=